<section class="card">
    <div class="row">
    <div class="col-md-6"><img class="animal_img" src="/images/animal_images/{{image_name}}" alt=""></div>
    <div class="col-md-6">
    <header>Hi! I'm {{name}}!</header>
    <p>I am {{age}} years old.</p>
    <p>I am a {{gender}} {{pet_type}}.</p>
    <p>I weigh {{weight}}lb.</p>
    <p>{{description}}</p>
    <p>I have been at the shelter since {{date_posted}}.</p>
    </div>
    </div>
</section>