<section class="card">
    <header>Hi! I'm {{name}}!</header>
    <img src="/images/animal_images/{{image_name}}" alt="">
    <p>I am {{age}} years old.</p>
    <p>I am a {{gender}} {{pet_type}}.</p>
    <p>I weigh {{weight}}lb.</p>
    <p>{{description}}</p>
    <p>I have been at the shelter since {{date_posted}}.</p>
</section>