    <div class="col-md-6">
        <h2>Create Pet</h2>

        <form class="form pet-create-form">
            <div class="form-group">
                <label for="name-signup">Pet name:</label>
                <input class="form-input" type="text" id="pet-name-field" />
                {{name}}
                </input>
            </div>
            <div class="form-group">
                <label for="email-signup">Age:</label>
                <input class="form-input" type="text" id="pet-age-field" />
                {{age}}
                </input>
            </div>
            <div class="form-group">
                <label for="email-signup">Gender:</label>
                <input class="form-input" type="text" id="pet-gender-field" />
                {{gender}}
                </input>
            </div>
            <div class="form-group">
                <label for="password-signup">Weight:</label>
                <input class="form-input" type="text" id="pet-weight-field" />
                {{weight}}
                </input>
            </div>
            <div class="form-group">
                <label for="password-signup">Description:</label>
                <input class="form-input" type="text" id="pet-description-field" />
                {{description}}
                </input>
            </div>
            <div class="form-group">
                <label for="password-signup">Pet type:</label>
                <input class="form-input" type="text" id="pet-type-field" />
                {{pet_type}}
                </input>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Add Pet</button>
            </div>
        </form>
            <form action="../api/images/single" method="POST" enctype="multipart/form-data" class="img-form">
            <input id="petpictureinput" type="file" name="image"/>
            <button type="submit">Submit</button>
        </form>
    </div>

<script src="./js/petcreate.js"></script>